<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Members Only</h1>
    <div>
       <a href="/login"> <button>Log-in</button></a>
        <a href="/sign-up"><button>Sign up</button></a>
    </div>
</header>

    <form action="" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" id="">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" id="">
        <label for="username">Username</label>
        <input type="text" name="username" id="">
        <label for="password">Password:</label>
        <input type="password" name="password" id="">
        <label for="confirmPassword">Reenter Password:</label>
        <input type="password" name="confirmPassword" id="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>