<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Members Only</h1>
    <%if(user){%>
        <h2>Hello <%=user.firstName%>
        <%}%>
    <div>
       <a href="/member/login"> <button>Log-in</button></a>
        <a href="/member/sign-up"><button>Sign up</button></a>
    </div>
</header>

     
</body>
</html>