<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <header>
      <h1>Members Only</h1> 
      <a href="/member/sign-up">Sign Up</a>
    </header>
    <main>
        <% if(messages.error) {%>
            <%=messages.error%>
        <%}%>
        <form id="loginForm" action="" method="post">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" required id="username">
            </div>
            <div>   
                <label for="password">Password</label>
                <input type="password" name="password" required id="password">
               
            </div>
            <button id="submit" type="submit">Login</button>
        </form>
    </main>
</body>
</html>