<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
   <a href="/"> <h1>Members Only</h1></a>
</header> 
<main>
    <form action="" method="post">
       <div>
        <label for="heading">Heading:</label>
        <input type="text" name="heading" id="">
       </div>
       <div>
        <label for="content">Message:</label>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
       </div>
       <input type="text" style="display:none;" name="author" value="<%=user._id%>"  id="">
       <button id="submit" type="submit"></button>
    </form>
</main>   
</body>
</html>