<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./public/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Members Only</h1>  
    <div>
       <a href="/member/login"> <button>Log-in</button></a>
        
    </div>
</header>
<main>
    <form id="form" action="" method="post">
        <label for="firstName">First Name:</label>
        <input required type="text" name="firstName" id="">
        <label for="lastName">Last Name:</label>
        <input required type="text" name="lastName" id="">
        <label for="username">Username</label>
        <input required type="text" name="username" id="">
        <label for="password">Password:</label>
        <input required type="password" name="password" id="">
        <label for="confirmPassword">Reenter Password:</label>
        <input required type="password" name="confirmPassword" id="">
        <button type="submit">Submit</button>
    </form>

    <%if(errors.length) { %>
        <%errors.forEach((error) => { %>
            <p style="color: red;"><%=error.msg%></p>
        <%})%>
    <%}%>
</main>
</body>
</html>