html,body{
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
 }
main{
    display: flex;
    justify-content: center;
}

header{
    color: white;
    background-color: #006A4E;
    display: flex;
    justify-content: space-around;
}
.sendBtn{
    cursor: pointer;
    align-self: center;
    width: fit-content;
    height:min-content;
}
#loginForm{
    border: 1px solid black; 
    border-radius: 10px;
    padding: 10px;
    height: 30vh;
   margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vw;
}
form{
    border: 1px solid black; 
    border-radius: 10px;
    padding: 10px;
    height: 50vh;
   margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25vw;
}
label{
    font-weight: bold;
}
input{
    height: 2vh;
}
#submit{
    align-self: center;
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
}
#submit:hover{
    cursor: pointer;
    background-color: beige;
}